#productos{
    display: flex;
    justify-content: space-around;
}
.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.material-symbols-outlined{
    cursor:pointer;
}
.total{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #tabla{
    display: flex;
} */
#productosCarro{
    display: flex;
    flex-wrap: wrap;
}
.gris{
    color:grey
}
.negro{
    color:black
}